{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | List
{% endblock %}

{% block main %}




    <div class="grid h-48 grid-cols-1 place-content-center text-center justify-items-center align-middle "
         style="height: 100%">
        <ul class="justify-items-start listAffichage">
            {% for index0, wish in wishes %}
                <li class="m-5 wishList">
                    <a href="{{ path('wish_detail', {'id': wish.id}) }}" class="flex items-center gap-3">
                        <img class="imgList flex-shrink-0" src="{{ asset('images/' ~ wish.image) }}"
                             alt="{{ wish.title }}">
                        <span>{{ wish.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="flex items-center justify-center">
            {% if currentPage > 1 %}
                <a href="{{ path('wish_list', {'page': currentPage-1}) }}">
                    <button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white mx-5 py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Previous page
                    </button>
                </a>
            {% endif %}
            {% if currentPage < maxPage %}
                <a href="{{ path('wish_list', {'page': currentPage+1}) }}">
                    <button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white mx-5 py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Next page
                    </button>
                </a>
            {% endif %}
        </div>
    </div>



{% endblock %}
